
.main {
  width: 100vw;
  height: 100vh;
  background-color: #2B4865;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 600px;
  width: 90%;
  padding: 35px 25px;
  background-color: #002B5B;
  box-shadow: 2px 2px 4px 2px rgba(0,0,0,.15);
  border-radius: 4px;
}
.question__container {
  margin-bottom: 30px;
}
.question__count {
  font-size: 25px;
  color: #f1f1f1;
  margin-bottom: 10px;
}
.hr-line {
  border: none;
  background-color: #909090;
  height: 1.5px;
  margin-bottom: 15px;
}
.question {
  color: #c8c8c8;
  line-height: 1.4;
  font-size: 18px;
}

.answer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.answer {
  width: 45%;
  font-size: 15px;
  list-style: 1.4;
  text-align: center;
  padding: 8px;
  margin-bottom: 18px;
  background-color: #2B4865;
  color: #c8c8c8;
  cursor: pointer;
}

.answer:hover {
  background-color: #256D85;
}

.result {
  color: green;
}